<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="/bootstrap.css">
    <link rel="stylesheet" href="/styles.css">
    <meta charset="utf-8">
    <title>Words</title>
  </head>
  <h1>This shows up on all pages</h1>
  <body>
    <%= yield %>
  </body>
</html>
