<h3>Add a new word!</h3>

<form action="/words" method="post">
  <div class="form-group">
    <label for="word_name">Word</label>
    <input id="name" class="form-control" type="text" name="word_name">
  </div>
  <button type="submit" class="btn">Create</button>
</form>
